$p-font: "Lato", sans-serif;
$t-font: "Noto Sans", sans-serif;
$t-fontsize: 2rem;
$p-fontsize: 1.15rem;

$primary-color: #cc2027;
$p-color: #9e9e9e;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.skills {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;

  .skills-container {
    z-index: 3;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 8rem 0 2rem;

    .text-content-skills {
      width: 30vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h1 {
        color: $primary-color;
        font-family: $t-fontsize;
        font-weight: 700;
        font-size: $t-fontsize;
      }

      p {
        color: $p-color;
        font-family: $p-font;
        font-weight: 400;
        font-size: $p-fontsize;
      }
    }

    .skills-icon-content {
      z-index: 3;
      width: 40vw;
      padding: 2rem 3rem;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(3.5rem, 1fr));
      align-items: center;
      gap: 2rem;

      background-color: #cc202656;
      box-shadow: $primary-color -10px 10px 5px -5px;
      border-radius: 2%;

      margin: auto 0;

      .skills-icon {
        width: 100%;
      }
    }
    .skills-icon-hover {
      animation-name: skills-icon-hover;
      animation-duration: 0.4s;
    }
    .onmouseover {
      box-shadow: $primary-color 10px -10px 5px -5px;
      animation-name: onmouseover;
      animation-duration: 1.4s;
    }
  }
}

@keyframes onmouseover {
  from {
    box-shadow: $primary-color -10px 10px 5px -5px;
    transition: all 3s ease;
  }

  to {
    box-shadow: $primary-color 10px -10px 5px -5px;
    transition: all 3s ease;
  }
}

@keyframes skills-icon-hover {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
    // transition: all 1s ease;
  }

  50% {
    transform: rotate(0deg);
    // transition: all 2s ease;
  }

  100% {
    transform: rotate(-10deg);
    // transition: all 1s ease;
  }
} ;
